<!DOCTYPE html>
{% load static %}

<html>
  <head>
  </head>
    <body>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{%static "css/bootstrap.min.css" %}'/>
    <link rel="stylesheet" href='{%static "css/datepicker.css" %}'/>
    <link href='{%static "fonts/satisfy.css" %}' rel="stylesheet" type="text/css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src='{%static "js/jquery.min.js" %}'></script>
    <script src='{%static "js/popper.min.js" %}'></script>
    <script src='{%static "js/bootstrap.min.js" %}'></script>
    <script src='{%static "js/bootstrap-datepicker.js" %}'></script>

    <h1 style="width:800px; margin:0 auto;">Document Similarity</h1><br><br>
        <!--Contact form-->
      <form action="" method = "post"  style="width:800px; margin:0 auto;">
        ...
        {% csrf_token %}
      <table>
        {{form}}
      </table>
      <br><br>
      <input type = "submit" value = "Submit">
      </form>
    </body>
</html>